body{
	font-family: arial, helvetica;
	background: #e8e8e8;
	background: url(fondo.png);
	background-size: 100%;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
h2{
	text-align: center;
	color: white;
	font-size: 30px;
}
h3{
	text-align: center;
	color: white;
	font-size: 25px;
}
h4{
	text-align: center;
	color: black;
	font-style: italic;
	font-size: 50px
}
p{
	text-align: center;
	color: black;
	font-style: italic;
	font-size: 25px
}
}